<!-- hamburger menu -->

<div>
    <img class="hamburger" src="/menuicon1.jpg">
</div>
<div class="hamburger-menu">
  <div class="menu-close">X</div>
  <div class="menu-links">
      <form method="POST">
          <a href="/supporters" class="menu-text" id="first-a">Supporters</a>
          <a href="/thankyou" class="menu-text">Signature</a>
          <a href="/update" class="menu-text" >Update Info</a>
          <a href="/logout" class="menu-text" id="last-a">Log Out</a>
    </form>
 </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/menu.js"></script>
