<!-- project list -->

<div class="project-list">
{{#projects}}
    <div class="project">
        <img src="{{imageURL}}">
        <a href="{{descriptionURL}}">{{name}}</a>
    </div>
{{/projects}}
<div>
