/*info page*/

body {
    text-align: center;
    width: 100%;
    background-image: url("happybizpeople.jpg");
    background-size: cover;
}

#content-holder {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: auto;
    background-color: rgba(224,224,224,.75);
    text-shadow: .5px 1px grey;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
}

#submit-data {
    margin-top: 50px;
    text-align: center;
    display: inline-block;
    width: 610px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-bottom: 20px;
}

form {
    padding: 0;
    margin: 0;
}

p {
    margin-left: 0;
    -webkit-margin-before:0em;
}

#first {
    margin-left: auto;
    float: left;
    width: 304px;
}

#last {
    margin-right: auto;
    float: right;
    width: 304px;
}


.text-input {
    margin: 0;
    width: 275px;
    height: 20px;
    border: 2px dashed black;
    background-color: rgb(240,238,229);
}


.hamburger-menu {
  display: none;
  margin: 0;
  position: absolute;
  right: 5%;
  top: 5%;
  width: 22%;
  height: auto;
  background-color: white;
  border-radius: 5%;
  z-index: 1000;
  border: 2px solid #D3D3D3;
}

.menu-close {
  float: right;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

.menu-text {
  margin-top: 20px;
  margin-left: 30px;
  text-align: left;
  font-size: 20px;
}

#last-a {
  margin-top: 40px;
  font-size: 15px;
}

.hamburger {
  position: absolute;
  float: right;
  right: 5%;
  top: 5%;
  width: 60px;
  height: auto;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 10%;
}
