
body {
    text-align: center;
    width: 100%;
    background-image: url("happybizpeople.jpg");
    background-size: cover;
}

#background {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(224,224,224,.60);
    width: 90%;
    height: 90%;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
}

#supporter-link {
    width: 80%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 100px;
}

a {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-shadow: .5px 1px blue;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#sign-pic {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 100px;
    border: 2px dashed black;
    background-color: rgb(240,238,229);
}

.hamburger-menu {
  display: none;
  margin: 0;
  position: absolute;
  right: 5%;
  top: 5%;
  width: 22%;
  height: auto;
  background-color: white;
  border-radius: 5%;
  z-index: 1000;
  border: 2px solid #D3D3D3;
}

.menu-close {
  float: right;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

.menu-text {
  margin-top: 20px;
  margin-left: 30px;
  text-align: left;
  font-size: 20px;
}

#last-a {
  margin-top: 40px;
  font-size: 15px;
}

.hamburger {
  position: absolute;
  float: right;
  right: 5%;
  top: 5%;
  width: 60px;
  height: auto;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 10%;
}
