<!-- info page -->

<title>Petition Info</title>
<link rel="stylesheet" href="stylesheet.css"/>
<body>
    <div id="content-holder">
        {{>menu}}
        <h1>SHORTER Workweeks-LONGER Weekends</h1>
        <h3>Please tell us more about you.</h3>
        <div id="submit-data">
          <form method="POST">
              <input type="hidden" name="_csrf" value="{{csrfToken}}">
              <div id="age">
                  <input type="text" class="text-input" id="text-input-age" name="ageInput"><p>Age</p>
              </div>
              <div id="location">
                  <input type="text" class="text-input" id="text-input-city" name="cityInput"><p>City</p>
              </div>
              <div id="homepage">
                  <input type="text" class="text-input" id="text-input-homepage" name="homepageInput"><p>Homepage</p>
              </div>
              <button type="submit" id="submit-button">Submit</button>
          </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="petition.js"></script>
</body>
