<!-- sign in page -->

<title>Petition Sign-In</title>
<link rel="stylesheet" href="stylesheet.css"/>
<body>
    <div id="content-holder">
        <h1>SHORTER Workweeks-LONGER Weekends</h1>
        <h3>Please sign-in.</h3>
        {{#error}}
            <h3 class="error-msg">The login information entered does match our records. Please try again or re-register.</h3>
        {{/error}}
        <div id="submit-data">
          <form method="POST">
              <input type="hidden" name="_csrf" value="{{csrfToken}}">
              <div id="email">
                  <input type="text" class="text-input" id="text-input-email" name="emailInput"><p>Email Address</p>
              </div>
              <div id="password">
                  <input type="password" class="text-input" id="text-input-password" name="passInput"><p>Password</p>
              </div>
              <button type="submit" id="submit-button">Submit</button>
          </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="petition.js"></script>
</body>
