<!-- description -->

<title>Petition Supporters</title>
<link rel="stylesheet" href="/supporters_stylesheet.css"/>
<body>
    <div id="background">
        <h1>We support the movement to shorten the workweek and lengthen our weekends.</h1>
        <h4>The people below have signed this petition in support of the official creation of 4 day work weeks and 3 day weekends.</h4>
        <div id="names">
            {{#signers}}
                <p>{{first_name}} {{last_name}}</p>
            {{/signers}}
        </div>
    </div>
</body>
