<!-- description -->

<title>Petition Thank You</title>
<link rel="stylesheet" href="/thankyou_stylesheet.css"/>
<body>
    <div id="background">
        <h1>Thank you for supporting our cause to lengthen the weekends and take back our lives.💪</h1>
        <img src="{{#signature}}{{signature}}{{/signature}}">
        <div id="supporter-link">
            <a href="/supporters">Click here to see all our Supporters</a>
        </div>
    </div>
</body>
