<!-- welcome page -->

<title>Kendra's Portfolio</title>
<link rel="stylesheet" href="welcome_stylesheet.css"/>
<body>
    <h1>Welcome to Kendra Danielle Walker's Portfolio!</h1>
    {{>projects}}
</body>
